<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name ="ElectronicsGoods" connectionString="D:\ElectronicsGoods.json"/>
    <add name ="AptekaGoods" connectionString="D:\AptekaGoods.json"/>
    <add name ="StoreGoods" connectionString="D:\StoreGoods.json"/>
    <add name ="Shops" connectionString="D:\Shops.json"/>
  </connectionStrings>
</configuration>